.page-header {
    position: absolute;
    top: 0;
    width: 100%;
    max-width: 1170px;
    margin: auto;
    left: 0;
    right: 0;
    z-index: 2;
    background: -moz-linear-gradient(top, #f5f7fa 0%, rgba(245, 247, 250, 0.92) 8%, rgba(245, 247, 250, 0) 100%);
    background: -webkit-linear-gradient(top, #f5f7fa 0%, rgba(245, 247, 250, 0.92) 8%, rgba(245, 247, 250, 0) 100%);
    background: linear-gradient(to bottom, #f5f7fa 0%, rgba(245, 247, 250, 0.92) 8%, rgba(245, 247, 250, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f7fa', endColorstr='#f5f7fa00', GradientType=0);
}
.overpanel-content {
    width: 100%;
    min-height: 86vh;
    padding: 55px 110px 0px;
    margin: 0 auto;
    background: #ffffff;
    position: relative;
}
.inputField input {
    width: 100%;
    height: 44px;
    padding: 0 14px;
    border-radius: 5px;
    background-clip: padding-box;
    border: 1px solid #c5ccd1;
    color: #000;
    -webkit-transition: border-color .3s ease 0s;
    -o-transition: border-color .3s ease 0s;
    transition: border-color .3s ease 0s;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    background: none;
}
inputField input, .inputField select {
    width: 100%;
    height: 46px;
    padding: 0 14px;
    border-radius: 5px;
    background-clip: padding-box;
    border: 1px solid #c5ccd1;
    color: #000;
    -webkit-transition: border-color .3s ease 0s;
    -o-transition: border-color .3s ease 0s;
    transition: border-color .3s ease 0s;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    background: none;
}
.inputField.floatingLabel label {
    color: #6c7378;
    position: absolute;
    top: 10px;
    left: 14px;
    pointer-events: none;
    -webkit-transform: translateZ(0) scale(1);
    transform: translateZ(0) scale(1);
    -webkit-transform-origin: left top 0;
    -ms-transform-origin: left top 0;
    -o-transform-origin: left top 0;
    transform-origin: left top 0;
    -webkit-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    text-overflow: ellipsis;
    overflow-x: hidden;
    width: 90%;
    display: inline-block;
    white-space: nowrap;
}
.vx_btn {
    display: inline-block;
    min-width: 6rem;
    padding: 0.75rem 1.5rem;
    margin-bottom: 1.5rem;
    border: 1px solid #0070ba;
    border-radius: 1.5rem;
    font-size: 0.9375rem;
    line-height: 1.6;
    font-family: 'PayPal-Sans', sans-serif;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    color: #ffffff;
    background-color: #0070ba;
    transition: all 250ms ease;
    -webkit-font-smoothing: antialiased;
}
.theoverpanel .overpanel-wrapper {
    width: 636px;
    margin: 0px auto 20px;
}
